@use '@/styles/variables' as *;

.wrapper {
  text-align: center;
  padding: 40px 20px;
}

.paymentInfo {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 6px;
  display: inline-block;
}

.returnButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover;
  }
}
