// ファイル: C:\Users\tomfr\Desktop\dev\okome-site\frontend\src\app\globals.scss

@use '@/styles/variables' as *;

// 全体初期設定
* {
  box-sizing: border-box;
}

body {
  color: $text-dark;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
