@use '@/styles/variables' as v;

.button {
  padding: 10px 20px;
  background-color: v.$primary-color;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: v.$primary-hover;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
