@use '@/styles/variables' as *;

.confirmSection {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 6px;
}

.confirmItem {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.productImage {
  width: 150px;
  height: 150px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartActions {
  margin-top: 20px;
  text-align: left;
}

.nextButton {
  padding: 10px 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $primary-hover;
  }
}
