@use '@/styles/variables' as v;

.page {
  padding: 0 20px;
}

.description {
  margin-top: 10px;
  line-height: 1.6;
}

.actions {
  margin-top: 20px;
  text-align: center;

  .backButton {
    padding: 10px 20px;
    background-color: v.$primary-color;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: v.$primary-hover;
    }
  }
}
